name: lint
on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          if ! bash .github/ci/lint.sh ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}; then
            exit 1
          fi

  emmylua:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install emmylua
        run: |
          mkdir -p build/emmylua
          curl -L -o emmylua.tar.gz https://github.com/EmmyLuaLs/emmylua-analyzer-rust/releases/download/0.17.0/emmylua_check-linux-x64.tar.gz
          tar -xzf emmylua.tar.gz -C build/emmylua
      - name: Run emmylua
        run: |
          ./build/emmylua/emmylua_check --config=.emmyrc.json .

  stylua:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: pip install codespell
      - run: codespell --quiet-level=2 --check-hidden --skip=./doc/configs.md,./doc/configs.txt --ignore-words=.codespellignorewords

  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - run: npm install --save-dev @commitlint/{cli,config-conventional}
      - run: |
          echo "module.exports = { extends: ['@commitlint/config-conventional'] };" > commitlint.config.js
      - run: npx commitlint --from HEAD~1 --to HEAD --verbose
